* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#word {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

[data-index] {
    width: 3rem;
    height: 3rem;
    border-bottom: 2px solid black;
}

#keyboard {
    display: grid;
    grid-template-columns: repeat(20, 1.5rem);
    gap: 0.125rem;
    justify-content: center;
}

[data-key] {
    grid-column: span 2;
    height: 3rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.125rem;
}

[data-key="enter"],
[data-key="backspace"] {
    grid-column: span 3;
}
